/* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #558b3e;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 249, 239);
}


h1, h2, h3, h4, h5{
    text-align: center;
    color: rgb(255, 249, 239);
}

*/

/* h1 {
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em;
} */

/* body {
    background-image: url("../img/17.png");
    background-color: #227000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/*span {
    font-weight: bold;
}

/*p {
    text-align: justify;
    margin: 0px;
}


/* ----- COMPONENTES ---- */

/* header */

/*.header {
    background-image: url("../img/fondoheader.jpg");
    background-size: cover;
    background-position: center;

    height: 60vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo img {
    height: 150px;
}*/

/* .header-titulo h2 {
    font-style: italic;
    text-transform: uppercase;
    font-size: 1rem;
} */

.navbar {
    display: flex;
}

/* .offcanvas-header {
    background-color: #227000;
} */

/* .offcanvas-header h5 {
    color: rgb(255, 255, 255);
} */

/* .nav-link {
    color: aliceblue;
    font-size: 1.2rem;
} */

/* .header-menu {
    display: none;
} */



/* .navbar-toggler {
    background-color: #227000a6;
    border: solid  #ffffff71 2px;
    border-radius: 15px;
} */

/* @media (min-width: 768px) { */

    /* .header {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    } */

    /* .header-logo img {
        height: 250px;
    } */

    /* .header-logo {
        grid-row: span 2;
        justify-self: end;
    } */
    
    /* .header-titulo h2 {
        font-size: 1.5rem
    } */

    /* .header-titulo {
        align-self: flex-end;
    } */

    /* .navbar {
        display: none;
    } */

    /* .header-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 0px;
        padding: 0px;
    } */

    /* .header-menu li {
        text-align: center;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        border: 2px solid #72bb53;
        border-radius: 1em;
        width: 8em;
        padding: 0.2em 1em;
    } */
    
    /* .header-menu li:hover {
        border-color: rgb(255, 249, 239);;
        background-color: #72bb53;
    }
   
} */


/* body */

.principal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
 }

.principal-contenedor {
    background-color: #ccffc286;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 5px;
    margin-bottom: 1em;
}

 .contenedor-titulo {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 0.3em;
 }

 .principal-decoracion {
    display: none;
}

 @media (min-width: 768px) {
    .principal {
        display: grid;
        grid-template-columns: 1fr 5fr 3fr 1fr;
        grid-template-rows: 1fr 10fr;
    }

    .principal h3 {
        grid-column: span 4;
        align-self: center;
    }

    .principal-contenedor {
        grid-row: 2;
        grid-column: 2;
    }

    .decoracion {
        display: block;
        grid-row: 2;
        grid-column: 3;
        justify-self: center;
        align-self: center;
    }

    .decoracion img {
        width: 20em;;
    }

   
 }


 /* footer */

/* .footer {
    background-color: black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
} */

/* .footer h4 {
    margin-top: 10px;
} */

/* .footer-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.footer-logos img {
    width: 60vw;
} */

@media (min-width: 768px) {

    .footer-logos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-logos img {
        width: 250px;
    }
}



 /* ----- INDEX -----*/

 /* .principal-contenedor p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    line-height: 1.6em;
    font-size: 1.1rem;
} */

/* .separador {
    display: block;
    background-color: #a1602b;
    color: rgb(212, 181, 139);
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
} */


@media (min-width: 768px) {

    .imagenes {
        display: flex;
        justify-content: center;
    }
    .carousel {
        width: 767px;
    }

    .carousel-inner {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
}


/* ----- OBJETIVOS y MODALIDAD ----- */

.objetivos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

.objetivos ul {
    line-height: 1.2em;
    font-size: 1.1rem;
}

.objetivos ul li {
    list-style: disc;
    background-color: #ccffc286;
    border: #355726af solid 1.5px;
    font-size: 1.2rem;
    margin: 1em;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: .5em;
    text-align: left;
}

.decoracion {
    display: none;
}

.decoracion-dos {
    display: none;
}

.modalidad{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

.modalidad ul {
    line-height: 1.2em;
    font-size: 1.1rem;
}

.modalidad ul li {
    list-style: disc;
    background-color: #ccffc286;
    border: #355726af solid 1.5px;
    font-size: 1.2rem;
    margin: 1em;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: .5em;
    text-align: left;
}

@media (min-width: 768px) {
    .objetivos {
        display: grid;
        grid-template-columns: 1fr 5fr 3fr 1fr;
        grid-template-rows: repeat(4, auto);
        
    }

    .objetivos h3 {
        grid-column: span 4;
    }

    .contenedor-uno {
        grid-column: 2;
        align-self: center;
        justify-self: center;   
    }

    .objetivos h4 {
        grid-column: 2;
        text-align: left; 
    }

    .contenedor-dos {
        grid-column: 2;
        align-self: center;
        justify-self: center;    
    }

    .decoracion {
        display: block;
    }

    .decoracion-dos {
        display: block;
        grid-row: 4;
        grid-column: 3;
        align-self: center;
        justify-self: center;
    }

    .decoracion-dos img {
        width: 20em;
    }

    .modalidad {
        display: grid;
        grid-template-columns: 1fr 5fr 3fr 1fr;
    }

    .modalidad h3 {
        grid-column: span 4;
    }
}


/* ----- EQUIPO -----*/

.equipo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}


.equipo-contenedor {
    background-color: #ccffc286;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 5px;
    margin-bottom: 1em;
}

.fac-contenedor {
    background-color: #ccffc286;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 5px;
    margin-bottom: 1em;
}

.resp-acad {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.resp-acad ul {
    line-height: 1.2em;
    font-size: 1.1rem;
}

.resp-acad ul li {
    list-style: disc;
    font-size: 1.2rem;
    margin-left: 1em;
    text-align: left;
    text-decoration: underline;
    padding: 5px;
    text-align: center;
}

.img-equipo {
    align-self: center;
}

.img-equipo img {
    height: 200px;
}

.facilitadores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.perfil {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}

.perfil ul {
    line-height: 1.2em;
    font-size: 1.1rem;
}

.perfil ul li {
    list-style: disc;
    font-size: 1.2rem;
    margin-left: 1em;
    text-align: left;
    text-decoration: underline;
    padding: 5px;
    text-align: center;
}

.perfil a {
    color: black;
}

.perfil a:hover {
    color: #558b3e;
    cursor: pointer;
}
.card {
    background-color: #b3e49e77;
}

.parrafo {
    text-align: justify;
}

.facilitadores-info-desktop {
    display: none;
}


@media (min-width: 768px) {
    .equipo {
        display: grid;
        grid-template-columns: 1fr 5fr 5fr 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .equipo h3 {
        grid-column: span 4;
    }

    .equipo-titulo {
        grid-column: span 4;
    }

    .equipo-contenedor {
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .fac-contenedor {
        grid-row: 5;
        grid-column: 2 / 4 ;
    }

    .equipo-contenedor {
        display: flex;
        flex-direction: row;
    }

    .facilitadores-info-mobile {
        display: none;
    }

    .facilitadores-info-desktop {
        display: block;
    }

}





/* ----- CONTACTO ----- */

.titulos-seccion-contacto {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
    text-align: left;
}

.contacto {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    gap: 50px;
}

.contacto-inscripciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.contacto-consultas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: white;
    color: #227000;
    border: solid 1px #227000;
    padding: 0.2em 1em;
}

.btn:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #227000;
}

.contacto-instagram {
    align-self: center;
}

@media (min-width: 768px) {
    .contacto-instagram {
        grid-column: 3;
        align-self: center;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        gap: 50px;
    }

    .contacto-inscripciones {
        align-items: center;
        font-size: 1.2rem;
    }

    .contacto-inscripciones a{
        text-decoration: underline;
    }
}




 