/* // ESTILOS DEL CARRUSEL // */
@media (min-width: 768px) {

    .scheme {
        .imagenes {
            display: flex;
            justify-content: center;
    
            .carousel {
                width: 767px;
    
                .carousel-inner {
                    border-top-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border: solid $secondary-color 10px;
                }
            }
        }
    }
}