/* // ELEMENTOS PROPIOS DEL FOOTER // */
.footer {
    background-color: black;
    margin-top: 1em;
    gap: 1em;

    h5 {
        margin-top: 0.5em;
    }

    .footer-logos {
        align-items: center;
        gap: 2em;
        
        img {
            width: 50vw;
        }
    }
}

/* Estilos Desktop */
@media (min-width: 768px) {

    .footer {

        .footer-logos {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        
            img {
                width: 250px;
            }
        }
    }    
}