@import "./variables";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: $body-image;
    background-color: $background-color;
    font-family: $body-font-family;
    text-align: justify;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        color: $secondary-color
    }
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: $secondary-color;
}

span {
    font-weight: bold;
}

.mobile-scheme {
    display: flex;
    flex-direction: column;
}

.primary-container {
    background-color: $background-text-color;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;

    line-height: 1.6em;
    font-size: 1.1rem;

    h4 {
        text-align: left;
        color: $primary-color;
    }
}