@import "./variables";

/* // RESETEO // */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* // ETIQUETAS // */
body {
    background-image: $body-image;
    background-color: $background-color;
    font-family: $body-font-family;
    text-align: justify;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        color: $secondary-color
    }
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    color: $secondary-color;
}

span {
    font-weight: bold;
}

/* // CONTENEDORES GENERALES // */
.scheme {
    display: flex;
    flex-direction: column;    
    gap: 1em;
}

.index {
    margin-top: 0.5em;
    .decoration {
        display: none;
    }
}

.primary-container {
    background-color: $background-text-color;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;

    line-height: 1.6em;
    font-size: 1.1rem;

    h4 {
        text-align: left;
        color: $primary-color;
        border-top: solid rgba(0, 0, 0, 0.229) 1px;
        border-bottom: solid rgba(0, 0, 0, 0.229) 1px;
        padding: 0.5em;
    }

    li {
        list-style: disc;
        margin-left: 1em;
    }
}

/* Estilos Desktop */
@media (min-width: 768px) {
    .index {
        display: grid;
        grid-template-columns: 1fr 5fr 3fr 1fr;
        grid-template-rows: 1fr 10fr;

        h3 {
            grid-column: span 4;
            align-self: center;
        }

        .primary-container {
            grid-row: 2;
            grid-column: 2;
        }

        .decoration {
            display: block;
            grid-row: 2;
            grid-column: 3;
            justify-self: center;
            align-self: center;
            width: 250px;

            img {
                width: 250px;
            }
        }
    }
}